 body {
        background-color: #F7F7F8;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .copyright-down {
        background-color: #00629B;
    }

    .img-fluid {
        width: 400px;
        height: 100px;
        margin-top: 6.5%;
    }

    .thetopbutton {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }

    @media (max-width: 399px) {
     .content-wrap123 {
            display: flex;
            flex-direction: column;
        }

        .banner-section {
            height: 200vh;
            overflow: scroll;
        }

   .ieee_rvrjc{
    font-size:40px;
    
   }
        .heading_h1 {
            font-size: 40px;
    

        }

        .carousel-inner {
            height: 500px;

        }

        .carousel-description h2 {
            font-size: 10px;
        }

        .who-are-we h1,
        .vission h1,
        .mission h1 {
            font-size: 1.5rem;
        }

        .who-are-we p,
        .vission p,
        .mission p {
            font-size: 0.9rem;
        }

        .carousel-image {
            width: 40px;
            height: 40px;
        }

        .banner-image {
            height: 50vh;
            width: 100vh;

        }

        .img-fluid {
            width: 300px;
            height: 100px;
            margin-right: 60px;
        }

        .event-description {
            padding: 10px;
        }

        .carousel {
            height: 400px;
            margin-bottom: 50px;
        }

        .footer123 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .thetopbutton.show {
        opacity: 1;
    }

    .main-con {
        position: relative;
    }

    footer {
        background: linear-gradient(90deg, #CDFFD8, #94B9FF);
        border: 2px solid;
        border-image: radial-gradient(circle at 0% 0%, #00629B, #00B5E2) 1;
        font-family: 'Garet', sans-serif;
        font-size: 16pt;
        color: black;
    }

    .background-location {
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    .social-media-links {
        width: 40px;
        height: 40px;
        margin: 20px;
    }

    .the-images-footer {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .three-social {
        display: flex;
        flex-direction: row;
    }

    .carousel {
        position: relative;
        margin-top: 26px;
        background-image: url(jigjag.jpg);
        background-size: cover;
        /* Ensures the background image covers the entire carousel */
        background-position: center;
        /* Centers the background image */
        background-repeat: no-repeat;
        /* Prevents the background image from repeating */
        height: 350px;
        /* Set a fixed height to ensure the background is visible */
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;

    }

    .carousel-open:checked+.carousel-item {
        position: static;
        opacity: 100;
    }

    .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        display: block;
        height: auto;
        margin: 0 auto;
        margin-top: 10%;

    }

    .carousel-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #d93636;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(10%, 10%);
        cursor: pointer;
        -ms-transform: translate(40%, -10%);
        transform: translate(-10%, 10%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .carousel-control.prev {
        left: 10%;
    }

    .carousel-control.next {
        right: 10%;
    }

    .carousel-control:hover {
        background: rgba(233, 230, 230, 0.8);

    }

    #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

    .carousel-bullet {
        color: #704c4c;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .carousel-bullet:hover {
        color: #aaaaaa;
    }

    #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #428bca;
    }

    #title {

        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;

        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
    }

    .event-container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        display: flex;
    }

    /* Event Link Styling */
    .event-link {
        text-decoration: none;
        color: inherit;
        width: 70%;
        margin: 70px;
        display: flex;
        border: 2px solid black;
        flex-direction: row;

        /* Limit the width for better centering */
    }

    .event {
        background-color: #f9f9f9;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(243, 243, 242);
    }

    .event img {
        width: 100%;
        height: auto;
        display: block;
    }

    .event-description {
        padding: 15px;
    }

    .event h3 {
        margin: 0;
        font-size: 1.5em;
        color: #333;
    }

    .event p {
        margin-top: 10px;
        color: #666;
    }

    /* Hover Effect on Event Links */
    .event-link:hover .event {
        transform: scale(1.05);
        /* Slight zoom effect on hover */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    /* Responsive Design for Different Screen Sizes */

    /* For Tablets and Smaller Screens */
    @media (max-width: 992px) {
        .event-link {
            flex: 1 1 calc(50% - 20px);
            /* Two columns on tablets */
        }

        h1 {
            font-size: 2rem;
            /* Adjust heading size */
        }

        .text-center {
            font-size: 1.1rem;
            /* Adjust text size */
        }
    }

    /* For Mobile Screens */
    @media (max-width: 768px) {
        .event-link {
            flex: 1 1 100%;
            /* One column on mobile devices */
        }

        h1 {
            font-size: 1.75rem;
            /* Further reduce heading size */
        }

        .text-center {
            font-size: 1rem;
            /* Further adjust text size */
        }

        .carousel {
            height: 500px;
            margin-bottom: 50px;
        }

        .event-container {
            gap: 10px;
            /* Reduce gap between events */
        }

        .event-description {
            padding: 10px;
            /* Reduce padding */
        }

        .carousel-control.prev {
            left: 2%
        }

        .carousel-control.next {
            right: 2%;
        }

        .event {
            display: flex;
            flex-direction: column;
        }
    }

    .footer123 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .banner-image {
        margin-top: 10px;
        width: 96%;
        height: 75vh;
        object-fit: cover;
        position: relative;
        margin-left: 40px;
        border-radius: 30px;
        display: block;
        margin-right: auto;
    }

    .navbar {
        position: fixed;
        top: 15px;
        left: 0;
        right: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        z-index: 1001;
        border: 2px solid #00629B;
        border-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .logo123 {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    .navbar {
        transition: border-radius 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav-links li {
        margin-left: 20px;
    }

    .nav-links a {
        color: black;
        text-decoration: none;
        font-size: 25px;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 1002;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background-color: black;
        margin: 4px 0;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu li {
        margin: 20px 0;
    }

    .mobile-menu a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }

    .mobile-menu.active {
        right: 0;
    }

    .heading_h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        color: #F7F7F8;
        font-family: 'TT Norms', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        z-index: 1000;
    }

    .kite-logo-container {
        position: absolute;
        bottom: 20px;
        right: 60px;
        z-index: 3;
    }

    .kite-logo {
        height: 20vh;
    }

    .content123 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .button-joinus {
        background-color: #00629B;
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 18pt;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .home-matter {
        text-align: center;
        font-size: 20px;
        max-width: 80%;
    }

    .main-con {
        position: relative;
    }



    .navbar1 {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        z-index: 1001;
        border: 2px solid #00629B;

    }

    .logo {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-links1 {
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav-links1 li {
        margin-left: 20px;
    }

    .nav-links1 a {
        color: black;
        text-decoration: none;
        font-size: 30px;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 1002;
    }

    .hamburger span {
        height: 3px;
        width: 25px;
        background-color: black;
        margin: 4px 0;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu li {
        margin: 20px 0;
    }

    .mobile-menu a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }

    .mobile-menu.active {
        right: 0;
    }


    .home-matter {
        text-align: center;
        font-size: 20px;
        max-width: 80%;
    }

    .vission {
        margin-left: 60%;
    }

    @media (max-width: 768px) {
        .nav-links {
            display: none;
        }

        .nav-links1 {
            display: none;
        }

        .footer123 {
            display: flex;
            flex-direction: column;
        }

        .navbar {
            width: 90%;
        }

        .banner-image {
            width: 100%;
            margin-left: 1px;
            margin-right: 1px;
        }

        .navbar1 {
            display: none;
            width: 100%;
        }

        .hamburger {
            display: flex;
        }

        .kite-logo-container {
            display: none;
        }

        .who-are-we,
        .mission {
            margin-left: 0;
            text-align: center;
            margin: 0 auto;
            width: 90%;
        }

        .footer123 {
            margin-left: 70px;
        }

        .vission {
            margin-left: 0;
            text-align: center;
            margin: 0 auto;
            width: 90%;
        }

        .who-are-we h1,
        .vission h1,
        .mission h1 {
            font-size: 2rem;
        }

        .who-are-we p,
        .vission p,
        .mission p {
            font-size: 1rem;
        }

        .who-are-we,
        .vission,
        .mission {
            margin-bottom: 30px;
        }

        .vission {
            margin-left: 10%;
        }

        .banner-section {
            height: 150vh;
        }

        .banner-image {
            width: 100%;
        }

        .society-box {
            flex-direction: row;
            position: relative;
        }

        .society-logo {
            margin: 10px;
            animation: slide 25s linear infinite;
        }

        .duplicate-ele123 {
            display: block;
        }

        .society-box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .logo-container {
            display: flex;
            flex-direction: row;
            animation: scroll 20s linear infinite;
        }

        .content-wrap123 {
            display: flex;
            flex-direction: column;
        }

        @keyframes scroll {
            0% {
                transform: translateX(50%);
            }

            100% {
                transform: translateX(-10%);
            }
        }

        @keyframes slide {
            0% {
                transform: translateX(10%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }


    .nav-on-image1 {
        position: relative;
        top: 0px;
        left: 60px;
        right: 10px;
        width: 37%;
        border-radius: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }



    .banner-section h1 {
        color: #00629B;
        font-size: 38pt;
        font-weight: 700;
    }

    .banner-section p {
        color: black;
        font-size: 12pt;
        font-family: Moderustic;
        font-weight: 500;
    }

    .content {
        display: flex;
    }

    .banner-section {
        position: static;
        background: url(secondpagebg.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        padding-top: 120px;
        /* Add padding to push content down */
    }

    .who-are-we {
        margin-left: 10%;
    }

    .who-are-we h1 {
        color: #00629B;
        font-size: 38pt;
        font-weight: 700;
    }

    .who-are-we p {
        color: black;
        font-size: 12pt;
        font-family: Moderustic;
        font-weight: 500;
    }

    .mission {
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .content-tile123 {
        width: 80%;
        margin: 30px auto;
        padding: 20px;
        background-color: #f7f7f8;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .heading123 {
        font-size: 38pt;
        color: #00629B;
        font-family: 'Garet', sans-serif;
        text-align: right;
    }

    .content-wrap123 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        width: 200px;
        height: 100px;
        margin-right: 20px;
        padding: 10px;
    }

    .para-wrap123 {
        flex: 1;
        text-align: justify;
        font-size: 100px;
    }

    .content {
        font-size: 15pt;
        color: black;
        font-family: 'Proxima Nova', sans-serif;
    }

    .visit-button {
        background-color: #00629B;
        color: white;
        font-size: 18pt;
        font-family: 'Proxima Nova', sans-serif;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        margin: 20px auto;
        display: block;
    }

    .visit-button a {
        text-decoration: none;
        color: white;
    }

    .our-societies {
        font-size: 18pt;
        color: black;
        font-family: 'Garet', sans-serif;
        text-align: center;
        flex-direction: row;
    }

    .society-box {
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, rgb(130, 207, 231), #a7e091);
        border: 2px solid #00629B;
        overflow: hidden;
        position: relative;
        flex-direction: row;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .society-logo {
        margin: 20px;
        margin-right: 60px;
        flex: 1;

    }

    .society-logo img {
        width: 150px;
        height: 90px;
    }

    .duplicate-ele123 {
        display: none;
    }
